@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0 auto;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
main .heading, .workplace {
    display: block;
}

main .bank {
    cursor: pointer;
}

main .heading {
    background-color: #F5F5F6;
    height: 2%;
    padding: 0% 0% 0% 10%;
}

main .heading > div {
    display: inline-block;
}

main .menu {
    font-size: 11px;
    font-weight: 500;
    width: 65%;
    margin: 0% 3%;
}

main .menu ul li {
    list-style: none;
    display: inline;
    margin-right: 3%;
    color: #959BA4;
    cursor: pointer;
}

main .logout{
    cursor: pointer;
}

main .logout p{
    background-color: white;
    text-align: center;
    padding: 5px 15px;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 5px;
}

main .workplace {
    margin: 0% 0% 3% 23%;
    width: 77%;
    display: inline-block;
}

main .workplace .first,
.workplace .second {
    display: inline-block;
    width: 40%;
} 

main .workplace .first > div 
,.second  > div {
    display: block;
    height: 50%;
} 

main .workplace h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 5% 0% 5% 0%;
    width: 80%;
}

main .workplace .title {
    font-size: 12px;
    font-weight: 400;
    color: #9F9F9F;
    margin: 0% 0% 3% 0%;
}

main .workplace .choices {
    margin: 0% 0% 7% 0%;
    width: 100%;
}

main .first ul,
    .second ul {
        padding: 0;
        display: flex;
        width: 70%;
    }

main .first ul li, 
     .second ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 3% 5%;
    border: 1px solid #9F9F9F;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    color: #C6C6C6;
    cursor: pointer;
}

main .first ul li.active, 
    .second ul li.active{
    background-color:#833AE0;
}

main .first ul li:last-child,
    .second ul li:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

main .first ul li:first-child,
    .second ul li:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

main .first .input,
    .second .input {
        height: 45%;
        display: block;
        width: 70%;
}

main .first .input-area,
    .second .input-area {
        width: 100%;
        line-height: 1;
        padding: 2% 2% 40% 5% ;
        font-size: 36px;
        font-weight: 700;       
        border: 1px #C6C6C6 solid;
        border-radius: 5px;
}

main .first .input p,
    .second .input p {
        margin: -15% 0% 0% 5%;
        color: #C6C6C6;
        font-size: 12px;
        font-weight: 400;
}

main .first .input-area:focus,
    .second .input-area:focus {
        outline: none;
}

main .second .input-area {
    pointer-events: none;
}